In [1]:
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

В предыдущем пункте мы ознакомились с данными, открыв 1/12 часть данных, произвели ее "горячее кодирование" и группировку с агрегацией разными функциями для определенных колонок, чем сгенерировали, можно сказать, дополнительные признаки. Также было сгенерировано два отдельных признака, благодаря которым метрика чуть-чуть повысилась.

Теперь пришло время произвести все те же действия, но на полном датафрейме. Сложность в том, что данных очень много, а ресурсы оперативной памяти ограничены. Как данная проблема была решена?
- В первую очередь, при открытии parquet-файлов колонки были загружены в таком типе данных, который позволял минимально расходовать память и при этом не искажал данные. Лишь колонка 'id' потребовала тип 'int32', все остальные имели малые целочисленные значения, и было достаточно типа данных 'int8'.
- Все 12 датафрейсмов были соединены по горизонтали. Датафрейм размерностью 26млн строк на 61 столбец занял объем 1,6Гб.
- OneHotEncoder используем с гиперпараметрами min_frequеncy=3000 (снижаем вероятность переобучения и размерность будущего датафрейма и памяти) и dtype='int8' (снижаем размер потребляемой памяти). Категории, которые встречаются с частотой менее 3000 раз, будут помещены в отдельную категорию.  
- Больше всего ресурсов потребовала агрегация признаков по 'id'. Проблема была решена путем создания "файла подкачки" нужного (большого) размера. 
- Последний пункт: соединение с целевой переменной. В итоге имеем финальный датафрейм размерностью 3млн строк и 361 столбец и объемом 1,3Гб. Сохраняем в parguet-файл (таким образом типы колонок остануться прежними). Готовы к моделированию.

In [2]:
dict_types = {'id':'int32', 'rn':'int8', 'pre_since_opened':'int8', 'pre_since_confirmed':'int8', 'pre_pterm':'int8',
              'pre_fterm':'int8', 'pre_till_pclose':'int8', 'pre_till_fclose':'int8', 'pre_loans_credit_limit':'int8',
              'pre_loans_next_pay_summ':'int8', 'pre_loans_outstanding':'int8', 'pre_loans_total_overdue':'int8', 
              'pre_loans_max_overdue_sum':'int8', 'pre_loans_credit_cost_rate':'int8', 'pre_loans5':'int8',
              'pre_loans530':'int8', 'pre_loans3060':'int8', 'pre_loans6090':'int8', 'pre_loans90':'int8',
              'is_zero_loans5':'int8', 'is_zero_loans530':'int8', 'is_zero_loans3060':'int8', 'is_zero_loans6090':'int8',
              'is_zero_loans90':'int8', 'pre_util':'int8', 'pre_over2limit':'int8', 'pre_maxover2limit':'int8',
              'is_zero_util':'int8', 'is_zero_over2limit':'int8', 'is_zero_maxover2limit':'int8', 'enc_paym_0':'int8',
              'enc_paym_1':'int8', 'enc_paym_2':'int8', 'enc_paym_3':'int8', 'enc_paym_4':'int8', 'enc_paym_5':'int8',
              'enc_paym_6':'int8', 'enc_paym_7':'int8', 'enc_paym_8':'int8', 'enc_paym_9':'int8', 'enc_paym_10':'int8',
              'enc_paym_11':'int8', 'enc_paym_12':'int8', 'enc_paym_13':'int8', 'enc_paym_14':'int8', 'enc_paym_15':'int8',
              'enc_paym_16':'int8', 'enc_paym_17':'int8', 'enc_paym_18':'int8', 'enc_paym_19':'int8', 'enc_paym_20':'int8',
              'enc_paym_21':'int8', 'enc_paym_22':'int8', 'enc_paym_23':'int8', 'enc_paym_24':'int8',
              'enc_loans_account_holder_type':'int8', 'enc_loans_credit_status':'int8', 'enc_loans_credit_type':'int8',
              'enc_loans_account_cur':'int8', 'pclose_flag':'int8', 'fclose_flag':'int8'}

In [3]:
%%time
df_0 = pd.read_parquet('train_data/train_data_0.pq').astype(dict_types)
df_1 = pd.read_parquet('train_data/train_data_1.pq').astype(dict_types)
df_2 = pd.read_parquet('train_data/train_data_2.pq').astype(dict_types)
df_3 = pd.read_parquet('train_data/train_data_3.pq').astype(dict_types)
df_4 = pd.read_parquet('train_data/train_data_4.pq').astype(dict_types)
df_5 = pd.read_parquet('train_data/train_data_5.pq').astype(dict_types)
df_6 = pd.read_parquet('train_data/train_data_6.pq').astype(dict_types)
df_7 = pd.read_parquet('train_data/train_data_7.pq').astype(dict_types)
df_8 = pd.read_parquet('train_data/train_data_8.pq').astype(dict_types)
df_9 = pd.read_parquet('train_data/train_data_9.pq').astype(dict_types)
df_10 = pd.read_parquet('train_data/train_data_10.pq').astype(dict_types)
df_11 = pd.read_parquet('train_data/train_data_11.pq').astype(dict_types)

CPU times: total: 1min 15s
Wall time: 10.6 s

In [4]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974724 entries, 0 to 1974723
Data columns (total 61 columns):
 #   Column                         Dtype
---  ------                         -----
 0   id                             int32
 1   rn                             int8
 2   pre_since_opened               int8
 3   pre_since_confirmed            int8
 4   pre_pterm                      int8
 5   pre_fterm                      int8
 6   pre_till_pclose                int8
 7   pre_till_fclose                int8
 8   pre_loans_credit_limit         int8
 9   pre_loans_next_pay_summ        int8
 10  pre_loans_outstanding          int8
 11  pre_loans_total_overdue        int8
 12  pre_loans_max_overdue_sum      int8
 13  pre_loans_credit_cost_rate     int8
 14  pre_loans5                     int8
 15  pre_loans530                   int8
 16  pre_loans3060                  int8
 17  pre_loans6090                  int8
 18  pre_loans90                    int8
 19  is_zero_loans5                 int8
 20  is_zero_loans530               int8
 21  is_zero_loans3060              int8
 22  is_zero_loans6090              int8
 23  is_zero_loans90                int8
 24  pre_util                       int8
 25  pre_over2limit                 int8
 26  pre_maxover2limit              int8
 27  is_zero_util                   int8
 28  is_zero_over2limit             int8
 29  is_zero_maxover2limit          int8
 30  enc_paym_0                     int8
 31  enc_paym_1                     int8
 32  enc_paym_2                     int8
 33  enc_paym_3                     int8
 34  enc_paym_4                     int8
 35  enc_paym_5                     int8
 36  enc_paym_6                     int8
 37  enc_paym_7                     int8
 38  enc_paym_8                     int8
 39  enc_paym_9                     int8
 40  enc_paym_10                    int8
 41  enc_paym_11                    int8
 42  enc_paym_12                    int8
 43  enc_paym_13                    int8
 44  enc_paym_14                    int8
 45  enc_paym_15                    int8
 46  enc_paym_16                    int8
 47  enc_paym_17                    int8
 48  enc_paym_18                    int8
 49  enc_paym_19                    int8
 50  enc_paym_20                    int8
 51  enc_paym_21                    int8
 52  enc_paym_22                    int8
 53  enc_paym_23                    int8
 54  enc_paym_24                    int8
 55  enc_loans_account_holder_type  int8
 56  enc_loans_credit_status        int8
 57  enc_loans_credit_type          int8
 58  enc_loans_account_cur          int8
 59  pclose_flag                    int8
 60  fclose_flag                    int8
dtypes: int32(1), int8(60)
memory usage: 120.5 MB

In [5]:
df = pd.concat([df_0, df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11], ignore_index=True)

In [6]:
df

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
0,0,1,18,9,2,3,16,10,11,3,...,3,3,3,4,1,3,4,1,0,0
1,0,2,18,9,14,14,12,12,0,3,...,0,0,0,4,1,3,4,1,0,0
2,0,3,18,9,4,8,1,11,11,0,...,0,0,0,4,1,2,3,1,1,1
3,0,4,4,1,9,12,16,7,12,2,...,3,3,3,4,1,3,1,1,0,0
4,0,5,5,12,15,2,11,12,10,2,...,3,3,3,4,1,3,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26162712,2999999,8,6,5,14,13,1,15,16,2,...,0,0,0,1,1,3,4,1,0,0
26162713,2999999,9,5,3,2,10,15,14,17,2,...,0,0,0,4,1,3,4,1,0,0
26162714,2999999,10,3,16,11,13,14,8,15,5,...,0,0,3,4,1,2,4,1,0,0
26162715,2999999,11,3,6,4,8,1,11,0,5,...,3,3,3,4,1,2,3,1,1,1
26162716,2999999,12,2,2,2,14,12,11,10,1,...,3,3,3,4,1,2,4,1,0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26162717 entries, 0 to 26162716
Data columns (total 61 columns):
 #   Column                         Dtype
---  ------                         -----
 0   id                             int32
 1   rn                             int8
 2   pre_since_opened               int8
 3   pre_since_confirmed            int8
 4   pre_pterm                      int8
 5   pre_fterm                      int8
 6   pre_till_pclose                int8
 7   pre_till_fclose                int8
 8   pre_loans_credit_limit         int8
 9   pre_loans_next_pay_summ        int8
 10  pre_loans_outstanding          int8
 11  pre_loans_total_overdue        int8
 12  pre_loans_max_overdue_sum      int8
 13  pre_loans_credit_cost_rate     int8
 14  pre_loans5                     int8
 15  pre_loans530                   int8
 16  pre_loans3060                  int8
 17  pre_loans6090                  int8
 18  pre_loans90                    int8
 19  is_zero_loans5                 int8
 20  is_zero_loans530               int8
 21  is_zero_loans3060              int8
 22  is_zero_loans6090              int8
 23  is_zero_loans90                int8
 24  pre_util                       int8
 25  pre_over2limit                 int8
 26  pre_maxover2limit              int8
 27  is_zero_util                   int8
 28  is_zero_over2limit             int8
 29  is_zero_maxover2limit          int8
 30  enc_paym_0                     int8
 31  enc_paym_1                     int8
 32  enc_paym_2                     int8
 33  enc_paym_3                     int8
 34  enc_paym_4                     int8
 35  enc_paym_5                     int8
 36  enc_paym_6                     int8
 37  enc_paym_7                     int8
 38  enc_paym_8                     int8
 39  enc_paym_9                     int8
 40  enc_paym_10                    int8
 41  enc_paym_11                    int8
 42  enc_paym_12                    int8
 43  enc_paym_13                    int8
 44  enc_paym_14                    int8
 45  enc_paym_15                    int8
 46  enc_paym_16                    int8
 47  enc_paym_17                    int8
 48  enc_paym_18                    int8
 49  enc_paym_19                    int8
 50  enc_paym_20                    int8
 51  enc_paym_21                    int8
 52  enc_paym_22                    int8
 53  enc_paym_23                    int8
 54  enc_paym_24                    int8
 55  enc_loans_account_holder_type  int8
 56  enc_loans_credit_status        int8
 57  enc_loans_credit_type          int8
 58  enc_loans_account_cur          int8
 59  pclose_flag                    int8
 60  fclose_flag                    int8
dtypes: int32(1), int8(60)
memory usage: 1.6 GB

In [8]:
# Проверка на строки-дубликаты.
len(df[df.duplicated()])

0

In [9]:
# Проверка на пропуски.
df.isna().sum().sort_values(ascending=False)

id                    0
enc_paym_1            0
enc_paym_3            0
enc_paym_4            0
enc_paym_5            0
                     ..
pre_over2limit        0
pre_maxover2limit     0
is_zero_util          0
is_zero_over2limit    0
fclose_flag           0
Length: 61, dtype: int64

In [9]:
binary_cols = ['pre_since_opened', 'pre_since_confirmed', 'pre_pterm', 'pre_fterm', 'pre_till_pclose', 'pre_till_fclose', 
               'pre_loans_credit_limit', 'pre_loans_next_pay_summ', 'pre_loans_outstanding', 'pre_loans_total_overdue', 
               'pre_loans_max_overdue_sum', 'pre_loans_credit_cost_rate', 'pre_loans5', 'pre_loans530', 'pre_loans3060',
               'pre_loans6090', 'pre_loans90', 'pre_util', 'pre_over2limit','pre_maxover2limit']

for column in binary_cols:    
    column_name = df[column]
    print(f"Характеристика: {column} \nКоличество уникальных значений: {column_name.nunique()} \nСписок значений: \n{column_name.value_counts(dropna=False)} \n")

Характеристика: pre_since_opened
Количество уникальных значений: 20
Список значений:
13    1645938
0     1561873
6     1522882
10    1409770
8     1406244
18    1388400
14    1315095
9     1312790
7     1307521
1     1300842
2     1290724
4     1255220
11    1250266
19    1230414
3     1211933
17    1202495
16    1200566
5     1196677
15    1193193
12     959874
Name: pre_since_opened, dtype: int64

Характеристика: pre_since_confirmed
Количество уникальных значений: 18
Список значений:
9     4909419
6     1948337
4     1514861
17    1503451
3     1435553
14    1410504
10    1361991
13    1313856
7     1291490
1     1245131
2     1239514
8     1234641
16    1213550
0     1192383
5     1180787
12    1108831
11    1058230
15        188
Name: pre_since_confirmed, dtype: int64

Характеристика: pre_pterm
Количество уникальных значений: 18
Список значений:
4     4456185
14    2336504
2     1532229
17    1520418
1     1483207
16    1460983
11    1430459
9     1428200
6     1400005
7     1391864
0     1312386
13    1310140
8     1307841
15    1294553
12    1205634
3      923202
10     367939
5         968
Name: pre_pterm, dtype: int64

Характеристика: pre_fterm
Количество уникальных значений: 17
Список значений:
8     6204663
9     1695807
0     1597751
14    1566914
6     1493807
16    1463400
7     1460416
13    1363752
15    1323654
11    1303353
1     1207377
5     1204894
10    1199907
2     1175844
12    1034805
3      866017
4         356
Name: pre_fterm, dtype: int64

Характеристика: pre_till_pclose
Количество уникальных значений: 17
Список значений:
1     4910941
8     1499795
13    1466470
14    1451729
12    1441898
3     1419577
6     1395040
5     1357688
9     1327500
10    1323903
16    1317347
11    1295073
4     1263147
15    1257003
0     1246379
2     1188430
7     1000797
Name: pre_till_pclose, dtype: int64

Характеристика: pre_till_fclose
Количество уникальных значений: 16
Список значений:
11    7082796
5     1491932
3     1490175
8     1427444
10    1377705
13    1360559
1     1326558
4     1307602
7     1300230
12    1289604
0     1274251
14    1267633
9     1259756
6     1245281
15    1158211
2      502980
Name: pre_till_fclose, dtype: int64

Характеристика: pre_loans_credit_limit
Количество уникальных значений: 20
Список значений:
14    2136533
19    1459193
11    1422358
15    1411541
0     1408767
7     1383034
8     1375453
2     1366620
10    1360834
16    1352225
1     1344645
17    1334265
3     1317776
12    1317679
13    1189610
5     1177987
4     1082617
6     1071644
18    1032370
9      617566
Name: pre_loans_credit_limit, dtype: int64

Характеристика: pre_loans_next_pay_summ
Количество уникальных значений: 7
Список значений:
2    17777162
0     1452141
5     1438360
3     1406202
1     1382525
4     1372003
6     1334324
Name: pre_loans_next_pay_summ, dtype: int64

Характеристика: pre_loans_outstanding
Количество уникальных значений: 5
Список значений:
3    20909470
1     1343015
2     1316280
5     1306107
4     1287845
Name: pre_loans_outstanding, dtype: int64

Характеристика: pre_loans_total_overdue
Количество уникальных значений: 2
Список значений:
0    26162716
1           1
Name: pre_loans_total_overdue, dtype: int64

Характеристика: pre_loans_max_overdue_sum
Количество уникальных значений: 4
Список значений:
2    24071329
3     1113827
1      977560
0           1
Name: pre_loans_max_overdue_sum, dtype: int64

Характеристика: pre_loans_credit_cost_rate
Количество уникальных значений: 14
Список значений:
4     7018834
2     6262438
3     1638369
5     1524119
9     1375623
1     1357623
7     1355353
0     1242721
11    1215253
13    1187225
8      987541
6      552788
10     444745
12         85
Name: pre_loans_credit_cost_rate, dtype: int64

Характеристика: pre_loans5
Количество уникальных значений: 13
Список значений:
6     26019398
0        95329
3        28998
5        11810
2         4386
16        1766
13         640
7          250
1           91
8           32
9           13
11           3
10           1
Name: pre_loans5, dtype: int64

Характеристика: pre_loans530
Количество уникальных значений: 20
Список значений:
16    25550977
13      422128
0       110507
18       42054
6        19217
3         9117
2         4433
12        2185
15         864
4          575
14         337
1          138
10          91
19          36
7           29
11          16
5            5
9            4
8            3
17           1
Name: pre_loans530, dtype: int64

Характеристика: pre_loans3060
Количество уникальных значений: 10
Список значений:
5    26147054
8       12924
2        2115
7         468
9         112
1          34
6           6
0           2
3           1
4           1
Name: pre_loans3060, dtype: int64

Характеристика: pre_loans6090
Количество уникальных значений: 5
Список значений:
4    26161392
1        1236
2          76
3          12
0           1
Name: pre_loans6090, dtype: int64

Характеристика: pre_loans90
Количество уникальных значений: 7
Список значений:
8     26147777
14       11519
13        2191
19         791
2          278
10         120
3           41
Name: pre_loans90, dtype: int64

Характеристика: pre_util
Количество уникальных значений: 20
Список значений:
16    18599223
9      1751629
3       962796
18      595518
6       487768
11      453764
15      380229
1       332213
7       289571
10      277074
0       273076
4       264892
12      255734
8       254544
19      241398
13      238202
2       235478
5       230661
17       26686
14       12261
Name: pre_util, dtype: int64

Характеристика: pre_over2limit
Количество уникальных значений: 20
Список значений:
2     24403395
5      1717063
17       12381
6         7073
15        3031
4         2688
8         1784
14        1415
11        1390
13        1277
3         1270
19        1168
10        1168
12        1167
9         1125
0         1094
7         1079
1         1063
16        1051
18        1035
Name: pre_over2limit, dtype: int64

Характеристика: pre_maxover2limit
Количество уникальных значений: 20
Список значений:
17    23505568
4      1721548
3       571242
0       161648
11       73027
15       24387
5        23609
9        23511
16        9324
8         6894
14        5335
12        4940
13        4648
10        4359
19        4264
2         4074
7         4073
1         3998
18        3472
6         2796
Name: pre_maxover2limit, dtype: int64

In [10]:
# Удаляем колонку, состоящую из одного значения.
df.drop(['pre_loans_total_overdue'], axis=1, inplace=True)

# Перезаписываем список бинаризированных колонок.
binary_cols = ['pre_since_opened', 'pre_since_confirmed', 'pre_pterm', 'pre_fterm', 'pre_till_pclose', 'pre_till_fclose', 
               'pre_loans_credit_limit', 'pre_loans_next_pay_summ', 'pre_loans_outstanding', 'pre_loans_max_overdue_sum',
               'pre_loans_credit_cost_rate', 'pre_loans5', 'pre_loans530', 'pre_loans3060', 'pre_loans6090', 'pre_loans90',
               'pre_util', 'pre_over2limit','pre_maxover2limit']

In [11]:
coded_cols = ['enc_paym_0', 'enc_paym_1', 'enc_paym_2', 'enc_paym_3', 'enc_paym_4', 'enc_paym_5', 'enc_paym_6', 'enc_paym_7',
              'enc_paym_8', 'enc_paym_9', 'enc_paym_10', 'enc_paym_11', 'enc_paym_12', 'enc_paym_13', 'enc_paym_14',
              'enc_paym_15', 'enc_paym_16', 'enc_paym_17', 'enc_paym_18', 'enc_paym_19', 'enc_paym_20', 'enc_paym_21',
              'enc_paym_22', 'enc_paym_23', 'enc_paym_24', 'enc_loans_account_holder_type', 'enc_loans_credit_status',
              'enc_loans_credit_type', 'enc_loans_account_cur']

for column in coded_cols:    
    column_name = df[column]
    print(f"Характеристика: {column} \nКоличество уникальных значений: {column_name.nunique()} \nСписок значений: \n{column_name.value_counts(dropna=False)} \n")

Характеристика: enc_paym_0
Количество уникальных значений: 4
Список значений:
0    24136144
3     1109198
1      853844
2       63531
Name: enc_paym_0, dtype: int64

Характеристика: enc_paym_1
Количество уникальных значений: 4
Список значений:
0    21792098
3     2733662
1     1521366
2      115591
Name: enc_paym_1, dtype: int64

Характеристика: enc_paym_2
Количество уникальных значений: 4
Список значений:
0    20686082
3     4008468
1     1362284
2      105883
Name: enc_paym_2, dtype: int64

Характеристика: enc_paym_3
Количество уникальных значений: 4
Список значений:
0    19601983
3     5167483
1     1292438
2      100813
Name: enc_paym_3, dtype: int64

Характеристика: enc_paym_4
Количество уникальных значений: 4
Список значений:
0    18500050
3     6356585
1     1212916
2       93166
Name: enc_paym_4, dtype: int64

Характеристика: enc_paym_5
Количество уникальных значений: 4
Список значений:
0    17409261
3     7542048
1     1125455
2       85953
Name: enc_paym_5, dtype: int64

Характеристика: enc_paym_6
Количество уникальных значений: 4
Список значений:
0    16073316
3     8980208
1     1034735
2       74458
Name: enc_paym_6, dtype: int64

Характеристика: enc_paym_7
Количество уникальных значений: 4
Список значений:
0    14780042
3    10354898
1      959831
2       67946
Name: enc_paym_7, dtype: int64

Характеристика: enc_paym_8
Количество уникальных значений: 4
Список значений:
0    13842200
3    11370158
1      888696
2       61663
Name: enc_paym_8, dtype: int64

Характеристика: enc_paym_9
Количество уникальных значений: 4
Список значений:
0    12943923
3    12343335
1      820177
2       55282
Name: enc_paym_9, dtype: int64

Характеристика: enc_paym_10
Количество уникальных значений: 4
Список значений:
3    13486126
0    11886401
1      739935
2       50255
Name: enc_paym_10, dtype: int64

Характеристика: enc_paym_11
Количество уникальных значений: 4
Список значений:
4    14650304
1    10796534
2      669937
3       45942
Name: enc_paym_11, dtype: int64

Характеристика: enc_paym_12
Количество уникальных значений: 4
Список значений:
3    15844536
0     9676643
1      597470
2       44068
Name: enc_paym_12, dtype: int64

Характеристика: enc_paym_13
Количество уникальных значений: 4
Список значений:
3    16924629
0     8638241
1      557416
2       42431
Name: enc_paym_13, dtype: int64

Характеристика: enc_paym_14
Количество уникальных значений: 4
Список значений:
3    17485829
0     8103776
1      531865
2       41247
Name: enc_paym_14, dtype: int64

Характеристика: enc_paym_15
Количество уникальных значений: 4
Список значений:
3    17925332
0     7689930
1      507580
2       39875
Name: enc_paym_15, dtype: int64

Характеристика: enc_paym_16
Количество уникальных значений: 4
Список значений:
3    18322875
0     7315283
1      486053
2       38506
Name: enc_paym_16, dtype: int64

Характеристика: enc_paym_17
Количество уникальных значений: 4
Список значений:
3    18697435
0     6965264
1      463426
2       36592
Name: enc_paym_17, dtype: int64

Характеристика: enc_paym_18
Количество уникальных значений: 4
Список значений:
3    19094597
0     6591695
1      440732
2       35693
Name: enc_paym_18, dtype: int64

Характеристика: enc_paym_19
Количество уникальных значений: 4
Список значений:
3    19453734
0     6253782
1      421092
2       34109
Name: enc_paym_19, dtype: int64

Характеристика: enc_paym_20
Количество уникальных значений: 4
Список значений:
4    19762231
1     5965048
2      402922
3       32516
Name: enc_paym_20, dtype: int64

Характеристика: enc_paym_21
Количество уникальных значений: 4
Список значений:
3    20049435
0     5697416
1      384819
2       31047
Name: enc_paym_21, dtype: int64

Характеристика: enc_paym_22
Количество уникальных значений: 4
Список значений:
3    20332673
0     5435204
1      365132
2       29708
Name: enc_paym_22, dtype: int64

Характеристика: enc_paym_23
Количество уникальных значений: 4
Список значений:
3    20634992
0     5157075
1      342900
2       27750
Name: enc_paym_23, dtype: int64

Характеристика: enc_paym_24
Количество уникальных значений: 4
Список значений:
4    21966247
1     3919903
2      251452
3       25115
Name: enc_paym_24, dtype: int64

Характеристика: enc_loans_account_holder_type
Количество уникальных значений: 7
Список значений:
1    25807322
3      213021
4      117422
6       20625
5        2232
2        2031
0          64
Name: enc_loans_account_holder_type, dtype: int64

Характеристика: enc_loans_credit_status
Количество уникальных значений: 7
Список значений:
3    17561773
2     8276203
4      201958
5       68431
1       48568
6        3803
0        1981
Name: enc_loans_credit_status, dtype: int64

Характеристика: enc_loans_credit_type
Количество уникальных значений: 8
Список значений:
4    14774986
3     7736233
5     1050346
1      880196
0      756480
2      617386
7      310217
6       36873
Name: enc_loans_credit_type, dtype: int64

Характеристика: enc_loans_account_cur
Количество уникальных значений: 4
Список значений:
1    26100882
2       53102
0        8550
3         183
Name: enc_loans_account_cur, dtype: int64

In [12]:
flag_cols = ['is_zero_loans5', 'is_zero_loans530', 'is_zero_loans3060', 'is_zero_loans6090', 'is_zero_loans90', 'is_zero_util',
             'is_zero_over2limit', 'is_zero_maxover2limit', 'pclose_flag', 'fclose_flag' ]

for column in flag_cols:    
    column_name = df[column]
    print(f"Характеристика: {column} \nКоличество уникальных значений: {column_name.nunique()} \nСписок значений: \n{column_name.value_counts(dropna=False)} \n")

Характеристика: is_zero_loans5
Количество уникальных значений: 2
Список значений:
1    24035861
0     2126856
Name: is_zero_loans5, dtype: int64

Характеристика: is_zero_loans530
Количество уникальных значений: 2
Список значений:
1    21772900
0     4389817
Name: is_zero_loans530, dtype: int64

Характеристика: is_zero_loans3060
Количество уникальных значений: 2
Список значений:
1    25047143
0     1115574
Name: is_zero_loans3060, dtype: int64

Характеристика: is_zero_loans6090
Количество уникальных значений: 2
Список значений:
1    25519933
0      642784
Name: is_zero_loans6090, dtype: int64

Характеристика: is_zero_loans90
Количество уникальных значений: 2
Список значений:
1    25535248
0      627469
Name: is_zero_loans90, dtype: int64

Характеристика: is_zero_util
Количество уникальных значений: 2
Список значений:
1    18258067
0     7904650
Name: is_zero_util, dtype: int64

Характеристика: is_zero_over2limit
Количество уникальных значений: 2
Список значений:
1    24334366
0     1828351
Name: is_zero_over2limit, dtype: int64

Характеристика: is_zero_maxover2limit
Количество уникальных значений: 2
Список значений:
1    22383950
0     3778767
Name: is_zero_maxover2limit, dtype: int64

Характеристика: pclose_flag
Количество уникальных значений: 2
Список значений:
0    22259294
1     3903423
Name: pclose_flag, dtype: int64

Характеристика: fclose_flag
Количество уникальных значений: 2
Список значений:
0    20172292
1     5990425
Name: fclose_flag, dtype: int64

In [13]:
ohe = OneHotEncoder(sparse_output=False, min_frequency=3000, dtype='int8')

In [14]:
%%time
ohe_cols = binary_cols + coded_cols

ohe_data = pd.DataFrame(ohe.fit_transform(df[ohe_cols]), columns=ohe.get_feature_names_out())
ohe_data.shape

CPU times: total: 1min 34s
Wall time: 2min 27s

(26162717, 348)

In [15]:
df = df.join(ohe_data).drop(columns=ohe_cols)
print(df.shape)
df.head()

(26162717, 360)

,id,rn,is_zero_loans5,is_zero_loans530,is_zero_loans3060,is_zero_loans6090,is_zero_loans90,is_zero_util,is_zero_over2limit,is_zero_maxover2limit,...,enc_loans_credit_type_2,enc_loans_credit_type_3,enc_loans_credit_type_4,enc_loans_credit_type_5,enc_loans_credit_type_6,enc_loans_credit_type_7,enc_loans_account_cur_0,enc_loans_account_cur_1,enc_loans_account_cur_2,enc_loans_account_cur_infrequent_sklearn
0,0,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,0,1,0,0
1,0,2,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,0,1,0,0
2,0,3,1,1,1,1,1,0,1,1,...,0,1,0,0,0,0,0,1,0,0
3,0,4,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
4,0,5,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,0,1,0,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26162717 entries, 0 to 26162716
Columns: 360 entries, id to enc_loans_account_cur_infrequent_sklearn
dtypes: int32(1), int8(359)
memory usage: 8.8 GB

In [17]:
%%time
category_df = df.groupby(['id'], as_index=False)[ohe.get_feature_names_out()].sum()
category_df

CPU times: total: 3min 21s
Wall time: 18min 14s

,id,pre_since_opened_0,pre_since_opened_1,pre_since_opened_2,pre_since_opened_3,pre_since_opened_4,pre_since_opened_5,pre_since_opened_6,pre_since_opened_7,pre_since_opened_8,...,enc_loans_credit_type_2,enc_loans_credit_type_3,enc_loans_credit_type_4,enc_loans_credit_type_5,enc_loans_credit_type_6,enc_loans_credit_type_7,enc_loans_account_cur_0,enc_loans_account_cur_1,enc_loans_account_cur_2,enc_loans_account_cur_infrequent_sklearn
0,0,0,1,1,1,1,2,0,1,0,...,0,2,7,0,0,0,0,10,0,0
1,1,0,0,1,0,0,0,0,1,2,...,0,3,8,0,0,0,0,14,0,0
2,2,1,0,0,0,0,0,0,0,0,...,0,2,1,0,0,0,0,3,0,0
3,3,0,3,1,0,2,1,3,0,0,...,0,4,9,1,0,0,0,15,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999995,1,2,0,0,2,0,1,0,0,...,0,4,6,0,0,1,0,11,0,0
2999996,2999996,0,1,0,1,1,5,0,0,1,...,0,4,8,0,0,1,0,13,0,0
2999997,2999997,0,0,1,1,3,0,0,0,0,...,0,3,7,0,0,0,0,10,0,0
2999998,2999998,0,0,0,0,1,0,0,1,0,...,0,2,2,0,0,0,0,5,0,0
2999999,2999999,2,0,1,2,0,1,1,0,2,...,0,3,9,0,0,0,0,12,0,0

In [18]:
rn_df = df.groupby(['id'], as_index=False)[['rn']].count()
rn_df

              id  rn
0              0  10
1              1  14
2              2   3
3              3  15
4              4   1
...          ...  ..
2999995  2999995  11
2999996  2999996  13
2999997  2999997  10
2999998  2999998   5
2999999  2999999  12

[3000000 rows x 2 columns]

In [19]:
flag_df = df.groupby(['id'], as_index=False)[flag_cols].mean()
flag_df

,id,is_zero_loans5,is_zero_loans530,is_zero_loans3060,is_zero_loans6090,is_zero_loans90,is_zero_util,is_zero_over2limit,is_zero_maxover2limit,pclose_flag,fclose_flag
0,0,0.900000,1.000000,1.000000,1.000000,1.000000,0.600000,0.900000,0.900000,0.100000,0.200000
1,1,0.857143,0.714286,0.857143,0.857143,0.785714,0.714286,0.857143,0.785714,0.071429,0.142857
2,2,1.000000,0.666667,0.666667,0.666667,1.000000,0.333333,1.000000,0.666667,0.666667,0.666667
3,3,1.000000,1.000000,1.000000,1.000000,1.000000,0.533333,0.933333,0.933333,0.333333,0.400000
4,4,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999995,0.818182,0.454545,1.000000,1.000000,1.000000,0.727273,1.000000,0.636364,0.181818,0.454545
2999996,2999996,0.923077,1.000000,0.923077,1.000000,1.000000,0.692308,0.846154,0.846154,0.384615,0.307692
2999997,2999997,0.900000,0.700000,1.000000,1.000000,1.000000,0.600000,1.000000,0.900000,0.100000,0.100000
2999998,2999998,1.000000,1.000000,0.800000,0.800000,0.800000,0.200000,0.800000,0.800000,0.400000,0.200000
2999999,2999999,0.916667,0.666667,0.916667,1.000000,1.000000,0.666667,0.916667,0.833333,0.166667,0.083333

In [20]:
df = pd.merge(left=rn_df, right=flag_df, on='id')
df

,id,rn,is_zero_loans5,is_zero_loans530,is_zero_loans3060,is_zero_loans6090,is_zero_loans90,is_zero_util,is_zero_over2limit,is_zero_maxover2limit,pclose_flag,fclose_flag
0,0,10,0.900000,1.000000,1.000000,1.000000,1.000000,0.600000,0.900000,0.900000,0.100000,0.200000
1,1,14,0.857143,0.714286,0.857143,0.857143,0.785714,0.714286,0.857143,0.785714,0.071429,0.142857
2,2,3,1.000000,0.666667,0.666667,0.666667,1.000000,0.333333,1.000000,0.666667,0.666667,0.666667
3,3,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.533333,0.933333,0.933333,0.333333,0.400000
4,4,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999995,11,0.818182,0.454545,1.000000,1.000000,1.000000,0.727273,1.000000,0.636364,0.181818,0.454545
2999996,2999996,13,0.923077,1.000000,0.923077,1.000000,1.000000,0.692308,0.846154,0.846154,0.384615,0.307692
2999997,2999997,10,0.900000,0.700000,1.000000,1.000000,1.000000,0.600000,1.000000,0.900000,0.100000,0.100000
2999998,2999998,5,1.000000,1.000000,0.800000,0.800000,0.800000,0.200000,0.800000,0.800000,0.400000,0.200000
2999999,2999999,12,0.916667,0.666667,0.916667,1.000000,1.000000,0.666667,0.916667,0.833333,0.166667,0.083333

In [21]:
df = pd.merge(left=df, right=category_df, on='id')
df

,id,rn,is_zero_loans5,is_zero_loans530,is_zero_loans3060,is_zero_loans6090,is_zero_loans90,is_zero_util,is_zero_over2limit,is_zero_maxover2limit,...,enc_loans_credit_type_2,enc_loans_credit_type_3,enc_loans_credit_type_4,enc_loans_credit_type_5,enc_loans_credit_type_6,enc_loans_credit_type_7,enc_loans_account_cur_0,enc_loans_account_cur_1,enc_loans_account_cur_2,enc_loans_account_cur_infrequent_sklearn
0,0,10,0.900000,1.000000,1.000000,1.000000,1.000000,0.600000,0.900000,0.900000,...,0,2,7,0,0,0,0,10,0,0
1,1,14,0.857143,0.714286,0.857143,0.857143,0.785714,0.714286,0.857143,0.785714,...,0,3,8,0,0,0,0,14,0,0
2,2,3,1.000000,0.666667,0.666667,0.666667,1.000000,0.333333,1.000000,0.666667,...,0,2,1,0,0,0,0,3,0,0
3,3,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.533333,0.933333,0.933333,...,0,4,9,1,0,0,0,15,0,0
4,4,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999995,11,0.818182,0.454545,1.000000,1.000000,1.000000,0.727273,1.000000,0.636364,...,0,4,6,0,0,1,0,11,0,0
2999996,2999996,13,0.923077,1.000000,0.923077,1.000000,1.000000,0.692308,0.846154,0.846154,...,0,4,8,0,0,1,0,13,0,0
2999997,2999997,10,0.900000,0.700000,1.000000,1.000000,1.000000,0.600000,1.000000,0.900000,...,0,3,7,0,0,0,0,10,0,0
2999998,2999998,5,1.000000,1.000000,0.800000,0.800000,0.800000,0.200000,0.800000,0.800000,...,0,2,2,0,0,0,0,5,0,0
2999999,2999999,12,0.916667,0.666667,0.916667,1.000000,1.000000,0.666667,0.916667,0.833333,...,0,3,9,0,0,0,0,12,0,0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000000 entries, 0 to 2999999
Columns: 360 entries, id to enc_loans_account_cur_infrequent_sklearn
dtypes: float64(10), int32(1), int64(1), int8(348)
memory usage: 1.3 GB

In [23]:
target_df = pd.read_csv('train_data/train_target.csv').astype({'id':'int32', 'flag':'int8'})
print(target_df.shape)
target_df.head()

(3000000, 2)

   id  flag
0   0     0
1   1     0
2   2     0
3   3     0
4   4     0

In [24]:
df = pd.merge(left=df, right=target_df, on='id')
df

,id,rn,is_zero_loans5,is_zero_loans530,is_zero_loans3060,is_zero_loans6090,is_zero_loans90,is_zero_util,is_zero_over2limit,is_zero_maxover2limit,...,enc_loans_credit_type_3,enc_loans_credit_type_4,enc_loans_credit_type_5,enc_loans_credit_type_6,enc_loans_credit_type_7,enc_loans_account_cur_0,enc_loans_account_cur_1,enc_loans_account_cur_2,enc_loans_account_cur_infrequent_sklearn,flag
0,0,10,0.900000,1.000000,1.000000,1.000000,1.000000,0.600000,0.900000,0.900000,...,2,7,0,0,0,0,10,0,0,0
1,1,14,0.857143,0.714286,0.857143,0.857143,0.785714,0.714286,0.857143,0.785714,...,3,8,0,0,0,0,14,0,0,0
2,2,3,1.000000,0.666667,0.666667,0.666667,1.000000,0.333333,1.000000,0.666667,...,2,1,0,0,0,0,3,0,0,0
3,3,15,1.000000,1.000000,1.000000,1.000000,1.000000,0.533333,0.933333,0.933333,...,4,9,1,0,0,0,15,0,0,0
4,4,1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999995,11,0.818182,0.454545,1.000000,1.000000,1.000000,0.727273,1.000000,0.636364,...,4,6,0,0,1,0,11,0,0,0
2999996,2999996,13,0.923077,1.000000,0.923077,1.000000,1.000000,0.692308,0.846154,0.846154,...,4,8,0,0,1,0,13,0,0,0
2999997,2999997,10,0.900000,0.700000,1.000000,1.000000,1.000000,0.600000,1.000000,0.900000,...,3,7,0,0,0,0,10,0,0,0
2999998,2999998,5,1.000000,1.000000,0.800000,0.800000,0.800000,0.200000,0.800000,0.800000,...,2,2,0,0,0,0,5,0,0,0
2999999,2999999,12,0.916667,0.666667,0.916667,1.000000,1.000000,0.666667,0.916667,0.833333,...,3,9,0,0,0,0,12,0,0,0

In [25]:
# Checkpoint
df.to_parquet('train_data/df_final.parquet')